@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAndSetSameRequest</title>
</head>
<body>
    <div>
        <result>@ViewBag.allOk</result>
    </div>
</body>
</html>
